@{meta('تست Node.js', 'Description (optional)', 'Keywords (optional)')}




<article>
    <label>Tehran 2015 views</label>
    <label>&nbsp;Node.js website</label>
</article>


<div class="content">
    <a href="/Register"><div class="mybtn" id="btn1">عضویت</div></a>
    <a href="/Login"><div class="mybtn" id="btn2">ورود</div></a>
</div>



<footer>
    <div>
        <!--<span> Design By&nbsp;  </span><a href="http://www.mwdgroup.ir"> Modern Web Design </a><span>&nbsp; Group</span>-->
        <a id="mwdimage" href="http://www.mwdgroup.ir"><img src="\img\mwdgroup.png" /></a>
    </div>
</footer>